* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #100f10;
    display: flex;
    flex-direction: column;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    background-color: #100f10;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.logo {
    color: #fafafa;
}

.logo h2,
h1 {
    font-weight: normal;
    font-size: 18px;
}

.container-fluid img {
    max-width: 7000px;
    max-height: 700px;

}

h1,
p {
    color: #fafafa;
}

.card {
    margin: auto;
}

h5,
p {
    color: #100f10;
}

.btn {
    background-color: #100f10;
    display: flex;
}

a {
    text-decoration: none;
}

footer {
    font-size: 16px;
    background: #343434;
    padding: 1em 0 0.5em 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    text-align: center;
}

.mt-50 {
    margin-top: 50px;
}

.sub-titulo>h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.footer {
    font-size: 16px;
    background: #343434;
    padding: 1em 0 0.5em 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    text-align: center;
}

.gradient-custom {
    background: #a6a5a1;

    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    background: linear-gradient(to right bottom, rgb(37, 36, 36), rgb(72, 71, 70))
}

.soro {
    margin-left: 750px;
}

.nav-item {
    padding-top: 26px;
}

.nav-link {
    vertical-align: middle;
}

.carousel-item {
    padding-left: 250px;
}

.sub p,
h2 {
    color: #fafafa;
    text-align: justify;
    padding-left: 250px;

    width: 1050px;
    height: auto;

}

.sub h2 {
    margin-top: 50px;
}

#game {
    margin: 10px;
    margin-left: 500px;
    width: 500px;
    height: 200px;
    border: 1px solid rgb(245, 245, 245);
}

#personagem {
    width: 20px;
    height: 50px;
    background-color: rgb(0, 4, 79);
    position: relative;
    top: 150px;
}

.animar {
    animation: personagem 500ms infinite;
}

@keyframes personagem {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

#quadrado {
    width: 20px;
    height: 20px;
    background-color: rgb(225, 255, 0);
    position: relative;
    top: 130px;
    left: 480px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado {
    0% {
        left: 480px;
    }

    100% {
        left: -5px;
    }
}