*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #100f10;
}

.center{
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
}

header{
    background-color: #100f10;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.logo{
    color: #fafafa;
}

.logo h2, h1{
    font-weight: normal;
    font-size: 18px;
}

